.card {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
  position: relative;
  margin-bottom: 20px;

  &:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, -3px, 0);

.card-bio {
      opacity:1;
    }
  }
}

.card-image {
    position: relative;

  img {
    width: 100%;
  }
}

.card-bio {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
    padding-left:12px;
    padding-bottom: 5px;
    padding-top: 5px;
  p {
    margin: 0;
    padding: 0;
    color:#fff;
  }
}

.card-content {
    padding: 10px 20px;

}

.card a {
    position: relative;
    height: 303px;
}


#title_joueur_item {
    color:#888888;
    &:hover{
      color: #E1E1E1;}

@include desktop{
    color: #686868;
    font-weight: bold;
    &:hover{
      color: #2B2B2B;
    }


    }

}

.bio_card {

    padding: 0;

}

.h4_bio_card {
    padding: 0px;
}


.columns:last-child {

  float:left !important;
}

.post-meta{




}

.post-meta li{

  list-style: none;

}
