.card {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
  position: relative;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0, -3px, 0);

    .card-bio {
      opacity:1;
    }
  }
}

.card-image {
  position: relative;

  img {
    width: 100%;
  }
}

.card-bio {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
  p {
    margin: 0;
    padding: 0;
    color:#fff;
  }
}

.card-content {
  padding: 10px 20px;

}

.card a {
  position: relative;
  height: 303px;
}

.joueur-item img {
  width: 267px;
  border-radius: 2px 2px 0 0px;
  margin-bottom: 4px;
  @include desktop {
    width: 180px;
    border-radius: 2px 2px 0 0px;
    margin-bottom: 4px;
  }
}

#title_joueur_item {

  color: #686868;
  font-weight: bold;

}

.bio_card {

  padding: 0;

}

.h4_bio_card {
  padding: 0px;
}

.joueur-item a {
  padding: 10px;
  margin: 0;
  color: #686868;
}

.joueur-item p {
  padding: 10px;
  margin: 0;
  color: #686868;
}

.bio_joueur-item {
  padding: 3px;
  background-color: #363636;
  width: 267px;
  height: 60px;
  position: absolute;
  top: 210px;
  opacity: 0;
  transition: all 0.5s;
  @include desktop {
    width: 179px;
    top: 120px;

  }
}

.bio_joueur-item p {
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 12px;
}