.footer {
		background-color: #448ccb;
	}

.footer-wrapper {
		padding:20px;

	    @include desktop {

		@include container();

		width:100%;
	}


}

.footer-social {

	  @include desktop {
	  text-align:right;
	}
      text-align:center;
      a{
       display: inline-block;
       padding: 20px;
       color:white;
       

       
      }
}